.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdf0f0;
}

.link {
  padding: 5px 20px;
  border-radius: 50vw;
  background-color: #000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.58);
  opacity: 1;
}

.body {
  display: block;
}

.link_menu {
  display: block;
  margin-right: 21px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link_menu:hover {
  opacity: 0.49;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdfdfd;
}

.container {
  width: 76rem;
  margin-right: auto;
  margin-left: auto;
}

.warp_cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-right: 30px;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.her{
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}
.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 4rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 0px;
  background-color: #fdf0f0;
}

.heading_cart {
  display: inline;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.count_cart {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 3.5rem;
  font-weight: 300;
}

.main_cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button_press {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(0, 0, 0, 0.87);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button_press:hover {
  background-color: rgba(0, 0, 0, 0.82);
}

.container_cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
}
.elsecontainer_cart{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  background-color: #000;
}

.section_login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form_login {
  width: 20rem;
  padding: 4rem 2rem 3rem;
  border-radius: 6px;
  background-color: #fdf0f0;
}

.text-field {
  margin-bottom: 40px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 rgba(0, 0, 0, 0.4);
  background-color: hsla(0, 0%, 100%, 0);
  color: #000;
}

.text-field::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.text-field:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.text-field::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.text-field::placeholder {
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.text-field-2 {
  margin-bottom: 60px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 rgba(0, 0, 0, 0.4);
  background-color: hsla(0, 0%, 100%, 0);
}

.text-field-2::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.55);
}

.text-field-2:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.55);
}

.text-field-2::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.55);
}

.text-field-2::placeholder {
  color: rgba(0, 0, 0, 0.55);
}

.button_login {
  padding: 10px 35px;
  border-radius: 20px;
  background-color: #000;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.button_login:hover {
  opacity: 0.7;
}

.txt_login {
  padding-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #777;
  text-align: center;
  text-transform: uppercase;
}

.footer_txt {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #c4c4c4;
  font-weight: 200;
  text-align: center;
}

.link_menu-2 {
  display: block;
  margin-right: 21px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link_menu-2:hover {
  opacity: 0.49;
}

.link-2 {
  padding: 5px 25px;
  border-radius: 50vw;
  background-color: #000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.link-2:hover {
  background-color: rgba(0, 0, 0, 0.58);
  opacity: 1;
}

.worksheets {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Montserrat, sans-serif;
}

.worksheet_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16rem;
  border: 1px none #000;
}

.item_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #333;
}

.item_ava {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #333;
  background-image: url('../images/2018_07_02__07_21_07__512.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.item_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #333;
}

.item_address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 38%;
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #333;
}

.item_details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #333;
}

.ava_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ava_hair_color {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #664322;
}

.ava_gender {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-weight: 600;
}

.ava_age {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-weight: 600;
}

.item_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.item_height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item_grud {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item_shoes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-3 {
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}

.item_socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social_items {
  padding-left: 0px;
}

.item_city {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item_adres {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
}

.details:hover {
  background-color: rgba(51, 51, 51, 0);
}

.insta {
  padding-left: 10px;
}

.youtube {
  padding-left: 10px;
}

.vimeo {
  padding-left: 10px;
}

.category_ok_block {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
  -webkit-box-pack: end;
  
  -ms-flex-pack: end;
  
}
.heading-3{
  padding-bottom: 10px; 
}
.category_list {
  display: block;
  width: 250px;
  padding: 15px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000;
}
.ok_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  height: 130px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
}

.category_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.category_title {
  padding-left: 15px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 12px;
  font-weight: 500;
}

.category_add_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-3 {
  padding-left: 10px;
  font-weight: 600;
}

.heading-4 {
  padding-left: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-decoration: underline;
}

.add_category_button_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  padding: 30px 10px 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ok_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
}

.button_ok {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.html-embed {
  width: 115%;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-3 {
  width: 4rem;
  margin-bottom: 0px;
  margin-left: 10px;
  border-radius: 50vw;
}

.text-field-4 {
  width: 4rem;
  margin-bottom: 0px;
  margin-left: 10px;
  border-radius: 50vw;
}

.text-field-5 {
  width: 4rem;
  margin-bottom: 0px;
  margin-left: 10px;
  border-radius: 50vw;
}

.text-field-6 {
  width: 4rem;
  margin-bottom: 0px;
  margin-left: 10px;
  border-radius: 50vw;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-7 {
  width: auto;
  margin-bottom: 0px;
  border-radius: 20px;
}

.submit-button {
  margin-left: 10px;
  border-radius: 50vw;
}

.select-field {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}

.form-block {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gender {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}

.type_of {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}

.type_of_anket {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}

.eye_color {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}

.hair_color {
  display: block;
  width: 9%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-right: 0px;
  border: 1px none #000;
  background-color: #fff;
}